@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.channel-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.channel-content-header-container {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: solid 1px #202225;
    flex: 0 0 auto;
}

.channel-content-header-hashtag {
    color: #6B6F76;
    font-size: 28px;
    font-family: 'Vidaloka', serif;
    margin-left: 20px;
}

.channel-content-header {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}

.channel-content-messages-container {
    flex: auto;
    overflow: auto;
    margin-right: 5px;
    padding-left: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.message-with-profile-pic-container {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
}


.message-profile-pic-container {
    height: 45px;
    width: 45px;
}

/* If a message is the no-profile-pic message */
.message-without-profile-pic-container {
    display: flex;
    align-items: center;
}

.message-profile-standin {
    width: 47px;
}

/* ****************************************** */

.message-profile-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.username-message-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    padding-right: 10px;
}

.message-username {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 3px;
}

.message-date-time {
    color: #6B6F75;
    margin-left: 10px;
    font-size: 14px;
}

.channel-content-message {
    color: #DCDDDE;
    margin-top: 5px;
}

.channel-content-chat-input-container {
    height: 100px;
    width: 100%;
    flex: 0 0 auto;
}

.new-message-form {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.new-message-label {
    width: 100%;
    height: 100%;
}

.new-message-input {
    background-color: #40444B;
    width: 95%;
    height: 100%;
    border-radius: 15px;
    color: #DCDDDE;
    padding-left: 20px;
}

.channel-content-messages-container::-webkit-scrollbar {
    background-color: rgba(255, 0, 0, 0);
    width: 10px;
}

.channel-content-messages-container::-webkit-scrollbar-thumb {
    background-color: #232529;
    margin-left: 2px;
    border-radius: 100px;
}
